/* .title {
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
  font-weight: 600;
  color: var(--font-color);
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  color: var(--font-color)
} */

.section {
  margin-left: 15rem;
  margin-right: 15rem;
  /* background: peachpuff; */
  /* margin-top: -10px; */
}

.title {
  font-size: 80.1106px;
  font-weight: 400;
  margin: 0px 0px 80.1106px;
}

.description {
  font-size: 24.0332px;
  line-height: 1.75;
  margin-top: 0;
}
