@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

:root {
  --font-color: #28282A;
  --background-color: #fafafa;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 18.0249px;
  color: var(--font-color);
  background: var(--background-color);
}

body {
  text-align: left;
  letter-spacing: 0.25px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
