@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

:root {
  --font-color: #28282A;
  /* --background-color: #d4d1cb; */
  --background-color: #eeeeee;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Helvetica", sans-serif;
  background: var(--background-color)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
