.nav {
  height: 50px;
  padding: 10px;
  display: flex;
  color: var(--font-color);
  align-items: center;
  justify-content: flex-end;
  background: papayawhip;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}
